* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 400px;
    width: 100%;

}

.icon img {
    width: 100px;
    height: 100px;
}

footer {
    margin-top: auto;
    height: 4vh;
    width: 100%;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: .7rem;
}

footer a {
    color: #895129;
    /* text-decoration: none; */
}

h1 {
    font-size: 2rem;
    margin: 5px 0 0 0;
}

p {
    font-size: 1.5rem;
    color: #555;
}

button {
    background-color: #5B361B;
    color: #ffffff;
    border: none; 
    border-radius: 50px; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s; 
    margin-top: 10px;
  }
  
button:hover {
    background-color: #3D2412; 
    transform: scale(0.95); 
}
.loader {
    width: 48px;
    height: 40px;
    margin-top: 30px;
    display: none;
    position: relative;
    background: #000; 
    border-radius: 15% 15% 35% 35%;
  }
  
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    top: 8px;
    border: 4px solid #000; 
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
  }
  
  .loader::before {
    content: '';  
    position: absolute;
    width: 1px;
    height: 10px;
    color: #000; 
    top: -15px;
    left: 11px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 2px 0px rgba(0, 0, 0, 0), 12px 0px rgba(0, 0, 0, 0.3), 20px 0px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 2px -5px rgba(0, 0, 0, 0.5), 12px -3px rgba(0, 0, 0, 0.5), 20px -2px rgba(0, 0, 0, 0.6);
    }
    100% {
      box-shadow: 2px -8px rgba(0, 0, 0, 0), 12px -5px rgba(0, 0, 0, 0), 20px -5px rgba(0, 0, 0, 0);
    }
  }
  