<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Takk for at du rapporterte</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-icons/siimple-icons.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <script>
            function sendReport() {
                // Hide the .wrapper element
                document.querySelector("h1").style.display = "none";
                document.querySelector("button").style.display = "none";

                // Show the .loader element
                document.querySelector(".loader").style.display = "inline-block";

                fetch("/report", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then((response) => {
                        if (response.ok) {
                            // Replace the body content dynamically
                            document.body.innerHTML = `
                            <div class="wrapper">
                                <div class="container">
                                    <i class="si-mug" style="font-size: 100px;"></i>
                                    <h1>✨ Takk ✨</h1>
                                    <p>Studentkontaktene har fått beskjed og skal fikse 🤌🏻</p>
                                </div>
                            </div>

                            <footer>
                                <p>Laget av <a href="https://youtu.be/dQw4w9WgXcQ?si=DBVnGiVbi7so50L0">Per</a> fordi det var tomt for kaffe en gang for mye</p>
                            </footer>
                        `;
                        } else {
                            alert("Failed to send report.");
                        }
                    })
                    .catch((error) => {
                        console.error("Failed to send report. Status:", response.status);
                        alert("An error occurred.");
                    });
            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <h1 class="hide">Tomt eller snart tomt for kaffe?</h1>
                <button class="hide" onclick="sendReport()">Rapporter til Studentkontaktene</button>
                <span class="loader"></span>
            </div>
        </div>

        <footer>
            <p>Laget av <a href="https://youtu.be/dQw4w9WgXcQ?si=DBVnGiVbi7so50L0">Per</a> fordi det var tomt for kaffe en gang for mye</p>
        </footer>
    </body>
</html>
